
.dest-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: #111827;
    margin-bottom: 1.5rem;
}

.dest-landing {
    min-height: 100vh;
    width: 100vw;
    background-color: #faf7f2;
    padding-top: 6rem;
    padding-inline: 2rem;/* Added top padding for navbar */
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dest-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    height: 80%;
    padding: 2rem 2rem;
    align-items: center;
    min-width: 80vw;
    text-align: start;
    border-radius: 2rem;
    background-color: #ffff;
}
.dest-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 1rem;
}

.dest-preferences-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.card-props{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 250px;
    background: white;
}

.image-props {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.value-props {
    background: white;
    padding: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.name-props {
    font-weight: 600;
    color: #6b7280;
    font-size: 0.875rem;
}

.dest-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.card-upper-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
    gap: 4rem;
    margin-inline: 3rem;
}
.card-place{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 1.5rem;
}
.card-place-selected{
    display: flex;
    flex-direction: column;
    width: 100%;

    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 1.5rem;
    border: #ff6b35 0.15rem solid;
}

.text-match {
    color: #ff6b35;
    font-size: 1.25rem;
    font-weight: 600;
}

.card-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: start;
}

.card-general-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.text-why {
    color: #2c3e50;
    margin-top: 1rem;
    align-items: start;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.list-highlights {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.text-prop {
    color: #2c3e50;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    font-weight: 600;
}
.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.text-original-price {*/
/*    font-weight: 300;*/
/*    font-size: 0.875rem;*/
/*    text-decoration: line-through;*/
/*    text-align: end;*/
/*}*/
.text-price {
    color: #ff6b35;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: right;
}

.match {
    background-color: #d1fae5;
    color: #065f46;
    align-self: flex-end;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    font-weight: 600;
}

.text-val {

    font-size: 0.875rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
    color: #6b7280;
}

.image-place {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.subtitle-place {
    margin-bottom: 1rem;

}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: #FF6B350C;
    border: 1px solid #FF6B3533;
    border-radius: 0.5rem;
}

.selected-dest {
    font-weight: 600;
    color: #ff6b35;
    font-size: 0.875rem;
}

